<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Card Table</title>
    {% if message %}
    <script>
     var message = "{{ message }}";
     alert(message);
   </script>
   {% endif %}
   
  <link rel="stylesheet" href="../static/css/style_for_updated.css">
  </head>
  <body>
    <main class="table">
      <section class="table_header">
        <br>
        <h1 style="margin-left: 19px;">Card Table</h1>
      </section>
    <form action="/delete_update_insert" method="POST">
      <section class="table__body">
        <h3>Provide condition for Update</h3><br><br>
        <table>
        <tr>
            <th>Select</th>
            <th>Column Name</th>
            <th>Data Type</th>
            <th>Value</th>
          </tr>
          <tr>
            <td><input type="checkbox" name="column_where[]" value="card_id"></td>
            <td>card_id</td>
            <td><p class="status delivered">Int</p></td>
            <td><input type="text" name="card_id_where"></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="column_where[]" value="disp_id"></td>
            <td>disp_id</td>
            <td><p class="status delivered">Int</p></td>
            <td><input type="text" name="disp_id_where"></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="column_where[]" value="type"></td>
            <td>type</td>
            <td><p class="status shipped">varchar</p></td>
            <td><input type="text" name="type_where"></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="column_where[]" value="issued"></td>
            <td>issued</td>
            <td><p class="status pending">date</p></td>
            <td><input type="date" name="issued_where"></td>
          </tr>
        </table>
        <br><br>

          <h3>Provide new value for Update</h3><br><br>
      <table>
        <tr>
          <th>Select</th>
          <th>Column Name</th>
          <th>Data Type</th>
          <th>Value</th>
        </tr>
        <tr>
          <td><input type="checkbox" name="column_new_value[]" value="card_id"></td>
          <td>card_id</td>
          <td><p class="status delivered">Int</p></td>
          <td><input type="text" name="card_id_new_value"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column_new_value[]" value="disp_id"></td>
          <td>disp_id</td>
          <td><p class="status delivered">Int</p></td>
          <td><input type="text" name="disp_id_new_value"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column_new_value[]" value="type"></td>
          <td>type</td>
          <td><p class="status shipped">varchar</p></td>
          <td><input type="text" name="type_new_value"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column_new_value[]" value="issued"></td>
          <td>issued</td>
          <td><p class="status pending">date</p></td>
          <td><input type="date" name="issued_new_value"></td>
        </tr>
      </table>
      <input type="submit" value="Submit" class="mainpagesubmit">

    </form>
  </section>
<br><br>
    <form action="/go_to_page" method="POST">
      <select name="page" class="my_dropdown">
        <option value="table_choose.html">Choose different table</option>
        <option value="main_page.html">Choose different operation</option>
      </select>
      <input type="submit" value="Go to page" class="gotopage">
    </form>
    </main>
  </body>
</html>
