<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Client Table</title>
    {% if message %}
    <script>
     var message = "{{ message }}";
     alert(message);
   </script>
   {% endif %}
   
  <link rel="stylesheet" href="../static/css/style_for_updated.css">
  </head>
  <body>
    <main class="table" style="
    height: 110vh;
">
      <section class="table_header">
        <br>
        <h1 style="margin-left: 19px;">Client Table</h1>
      </section>
    <form action="/delete_update_insert" method="POST">
      <section class="table__body">
        <h3>Provide condition for Update</h3><br><br>
        <table>
            <tr>
              <th>Select</th>
              <th>Column Name</th>
              <th>Data Type</th>
              <th>Value</th>
            </tr>
            <tr>
              <td><input type="checkbox" name="column_where[]" value="client_id"></td>
              <td>client_id</td>
              <td><p class="status delivered">Int</p></td>
              <td><input type="text" name="client_id_where"></td>
            </tr>
            <tr>
              <td><input type="checkbox" name="column_where[]" value="birth_number"></td>
              <td>birth_number</td>
              <td><p class="status shipped">varchar</p></td>
              <td><input type="date" name="birth_number_where"></td>
            </tr>
            <tr>
              <td><input type="checkbox" name="column_where[]" value="district_id"></td>
              <td>district_id</td>
              <td><p class="status delivered">Int</p></td>
              <td><input type="text" name="district_id_where"></td>
            </tr>
            <tr>
              <td><input type="checkbox" name="column_where[]" value="gender"></td>
              <td>gender</td>
              <td><p class="status shipped">varchar</p></td>
              <td><input type="text" name="gender_where"></td>
            </tr>
    
          </table>
          <br><br>

        <label>Provide new value for Update</label><br><br>
      <table>
        <tr>
          <th>Select</th>
          <th>Column Name</th>
          <th>Data Type</th>
          <th>Value</th>
        </tr>
        <tr>
          <td><input type="checkbox" name="column_new_value[]" value="client_id"></td>
          <td>client_id</td>
          <td><p class="status delivered">Int</p></td>
          <td><input type="text" name="client_id_new_value"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column_new_value[]" value="birth_number"></td>
          <td>birth_number</td>
          <td><p class="status shipped">varchar</p></td>
          <td><input type="date" name="birth_number_new_value"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column_new_value[]" value="district_id"></td>
          <td>district_id</td>
          <td><p class="status delivered">Int</p></td>
          <td><input type="text" name="district_id_new_value"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column_new_value[]" value="gender"></td>
          <td>gender</td>
          <td><p class="status shipped">varchar</p></td>
          <td><input type="text" name="gender_new_value"></td>
        </tr>

      </table>
      <input type="submit" value="Submit" class="mainpagesubmit">
      
    </form>
  </section>
    <br><br>
    <form action="/go_to_page" method="POST">
      <select name="page" class="my_dropdown">
        <option value="table_choose.html">Choose different table</option>
        <option value="main_page.html">Choose different operation</option>
      </select>
      <input type="submit" value="Go to page" class="gotopage">
    </form>
    </main>
</body>
</html>    