<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Demographics Table</title>
    {% if message %}
    <script>
     var message = "{{ message }}";
     alert(message);
   </script>
   {% endif %}
   
    <link rel="stylesheet" href="../static/css/style_for_modified.css">
  </head>
  <body>
    <main class="table" style="overflow: overlay;">
      <section class="table_header">
        <br>
    <h1 style="margin-left: 19px;">Demographics Table</h1>
</section>
    <form action="/delete_update_insert" method="POST" onsubmit="return validateForm();">
<section class="table__body">
      <table>
        <tr>
          <th>Select</th>
          <th>Column Name</th>
          <th>Data Type</th>
          <th>Value</th>
        </tr>
        <tr>
          <td><input type="checkbox" name="column[]" value="dist_id"></td>
          <td>dist_id</td>
          <td><p class="status delivered">Int</p></td>
          <td><input type="text" name="dist_id"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column[]" value="dist_name"></td>
          <td>dist_name</td>
          <td><p class="status shipped">varchar</p></td>
          <td><input type="text" name="dist_name"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column[]" value="region_name"></td>
          <td>region_name</td>
          <td><p class="status shipped">varchar</p></td>
          <td><input type="text" name="region_name"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column[]" value="no_inhab"></td>
          <td>no_inhab</td>
          <td><p class="status delivered">Int</p></td>
          <td><input type="text" name="no_inhab"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column[]" value="no_muncp_lt_499"></td>
          <td>no_muncp_lt_499</td>
          <td><p class="status delivered">Int</p></td>
          <td><input type="text" name="no_muncp_lt_499"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column[]" value="no_muncp_500_1499"></td>
          <td>no_muncp_500_1499</td>
          <td><p class="status delivered">Int</p></td>
          <td><input type="text" name="no_muncp_500_1499"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column[]" value="no_muncp_2000_9999"></td>
          <td>no_muncp_2000_9999</td>
          <td><p class="status delivered">Int</p></td>
          <td><input type="text" name="no_muncp_2000_9999"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column[]" value="no_muncp_gt_10000"></td>
          <td>no_muncp_gt_10000</td>
          <td><p class="status delivered">Int</p></td>
          <td><input type="text" name="no_muncp_gt_10000"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column[]" value="no_cities"></td>
          <td>no_cities</td>
          <td><p class="status delivered">Int</p></td>
          <td><input type="text" name="no_cities"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column[]" value="ratio_urban_inhab"></td>
          <td>ratio_urban_inhab</td>
          <td><p class="status delivered">Int</p></td>
          <td><input type="text" name="ratio_urban_inhab"></td>
        </tr>
        <tr>
            <td><input type="checkbox" name="column[]" value="avg_sal"></td>
            <td>avg_sal</td>
            <td><p class="status delivered">Int</p></td>
            <td><input type="text" name="avg_sal"></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="column[]" value="unemploy_rate_1995"></td>
            <td>unemploy_rate_1995</td>
            <td><p class="status delivered">Int</p></td>
            <td><input type="text" name="unemploy_rate_1995"></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="column[]" value="unemploy_rate_1996"></td>
            <td>unemploy_rate_1996</td>
            <td><p class="status delivered">Int</p></td>
            <td><input type="text" name="unemploy_rate_1996"></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="column[]" value="entrep_per_1000_inhab"></td>
            <td>entrep_per_1000_inhab</td>
            <td><p class="status delivered">Int</p></td>
            <td><input type="text" name="entrep_per_1000_inhab"></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="column[]" value="no_crimes_1995"></td>
            <td>no_crimes_1995</td>
            <td><p class="status delivered">Int</p></td>
            <td><input type="text" name="no_crimes_1995"></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="column[]" value="no_crimes_1996"></td>
            <td>no_crimes_1996</td>
            <td><p class="status delivered">Int</p></td>
            <td><input type="text" name="no_crimes_1996"></td>
          </tr>
        </table>
      <input type="submit" value="Submit" class="mainpagesubmit">
        <script>
          function validateForm() {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
            if (checkboxes.length === 0) {
              alert("Please select at least one option.");
              return false;
            }
            return true;
          }
        </script>
        
      </form>
      <br><br>
  </section>
  <br>
  <br>
  <br>
    <form action="/go_to_page" method="POST" class = "form_move_up" style="
    margin-top: 118%;
">
    <select name="page" class="my_dropdown">
        <option value="table_choose.html">Choose different table</option>
        <option value="main_page.html">Choose different operation</option>
      </select>
    <input type="submit" value="Go to page" class="gotopage">
    </form>
  </main>
  </body>
  </html>