<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
	<title>Banking App</title>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {{ messages[0] }}
      {% endif %}
    {% endwith %}
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>
<body>
  <div class="loginbox">
    <img src="../static/images/avatar.png" class="avatar">
	<h1>Login Here</h1>
  <form action="/login" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" placeholder="Enter Username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" placeholder="Enter Password"><br>
    <input type="submit" name="" value="Login">
    <a href="/">Go Home?</a>
        <br>
        <a href="/go_to_register">Don't have an account?</a>
  </form>
  </div>
<script>
  function signupredirect(){
    window.location.assign('../templates/registration.html');
  }
</script>
</body>
</html>
