<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Transactions Table</title>
    {% if message %}
    <script>
     var message = "{{ message }}";
     alert(message);
   </script>
   {% endif %}
   
  <link rel="stylesheet" href="../static/css/style_for_updated.css">
  </head>
  <body>
    <main class="table" style="overflow: overlay;">
      <section class="table_header">
        <br>
    <h1 style="margin-left: 19px;">Transactions Table</h1>
  </section>
    <form action="/delete_update_insert" method="POST">
      <section class="table__body">
        <h3>Provide condition for Update</h3><br><br>
        <table>
            <tr>
              <th>Select</th>
              <th>Column Name</th>
              <th>Data Type</th>
              <th>Value</th>
            </tr>
            <tr>
              <td><input type="checkbox" name="column_where[]" value="trans_id"></td>
              <td>trans_id</td>
              <td><p class="status delivered">Int</p></td>
              <td><input type="text" name="trans_id_where"></td>
            </tr>
            <tr>
              <td><input type="checkbox" name="column_where[]" value="account_id"></td>
              <td>account_id</td>
              <td><p class="status delivered">Int</p></td>
              <td><input type="text" name="account_id_where"></td>
            </tr>
            <tr>
              <td><input type="checkbox" name="column_where[]" value="date"></td>
              <td>date</td>
              <td><p class="status state">date</p></td>
              <td><input type="date" name="date_where"></td>
            </tr>
            <tr>
              <td><input type="checkbox" name="column_where[]" value="type"></td>
              <td>type</td>
              <td><p class="status shipped">varchar</p></td>
              <td><input type="text" name="type_where"></td>
            </tr>
            <tr>
              <td><input type="checkbox" name="column_where[]" value="operation"></td>
              <td>operation</td>
              <td><p class="status shipped">varchar</p></td>
              <td><input type="text" name="operation_where"></td>
            </tr>
            <tr>
              <td><input type="checkbox" name="column_where[]" value="amount"></td>
              <td>amount</td>
              <td><p class="status pending">decimal</p></td>
              <td><input type="text" name="amount_where"></td>
            </tr>
            <tr>
              <td><input type="checkbox" name="column_where[]" value="balance"></td>
              <td>balance</td>
              <td><p class="status pending">decimal</p></td>
              <td><input type="text" name="balance_where"></td>
            </tr>
            <tr>
              <td><input type="checkbox" name="column_where[]" value="k_symbol"></td>
              <td>k_symbol</td>
              <td><p class="status shipped">varchar</p></td>
              <td><input type="text" name="k_symbol_where"></td>
            </tr>
            <tr>
              <td><input type="checkbox" name="column_where[]" value="bank"></td>
              <td>bank</td>
              <td><p class="status shipped">varchar</p></td>
              <td><input type="text" name="bank_where"></td>
            </tr>
            <tr>
              <td><input type="checkbox" name="column_where[]" value="account"></td>
              <td>account</td>
              <td><p class="status shipped">varchar</p></td>
              <td><input type="text" name="account_where"></td>
            </tr>
          </table>
          
          <br><br>

        <label>Provide new value for Update</label><br><br>
      <table>
        <tr>
          <th>Select</th>
          <th>Column Name</th>
          <th>Data Type</th>
          <th>Value</th>
        </tr>
        <tr>
          <td><input type="checkbox" name="column_new_value[]" value="trans_id"></td>
          <td>trans_id</td>
          <td><p class="status delivered">Int</p></td>
          <td><input type="text" name="trans_id_new_value"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column_new_value[]" value="account_id"></td>
          <td>account_id</td>
          <td><p class="status delivered">Int</p></td>
          <td><input type="text" name="account_id_new_value"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column_new_value[]" value="date"></td>
          <td>date</td>
          <td><p class="status state">date</p></td>
          <td><input type="date" name="date_new_value"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column_new_value[]" value="type"></td>
          <td>type</td>
          <td><p class="status shipped">varchar</p></td>
          <td><input type="text" name="type_new_value"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column_new_value[]" value="operation"></td>
          <td>operation</td>
          <td><p class="status shipped">varchar</p></td>
          <td><input type="text" name="operation_new_value"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column_new_value[]" value="amount"></td>
          <td>amount</td>
          <td><p class="status pending">decimal</p></td>
          <td><input type="text" name="amount_new_value"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column_new_value[]" value="balance"></td>
          <td>balance</td>
          <td><p class="status pending">decimal</p></td>
          <td><input type="text" name="balance_new_value"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column_new_value[]" value="k_symbol"></td>
          <td>k_symbol</td>
          <td><p class="status shipped">varchar</p></td>
          <td><input type="text" name="k_symbol_new_value"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column_new_value[]" value="bank"></td>
          <td>bank</td>
          <td><p class="status shipped">varchar</p></td>
          <td><input type="text" name="bank_new_value"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column_new_value[]" value="account"></td>
          <td>account</td>
          <td><p class="status shipped">varchar</p></td>
          <td><input type="text" name="account_new_value"></td>
        </tr>
      </table>
      <input type="submit" value="Submit" class="mainpagesubmit">
      
    </form>
  </section>
    <br><br>
    <form action="/go_to_page" method="POST">
      <select name="page" class="my_dropdown">
        <option value="table_choose.html">Choose different table</option>
        <option value="main_page.html">Choose different operation</option>
      </select>
      <input type="submit" value="Go to page" class="gotopage">
    </form>
    </main>
</body>
</html>    