<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>User Table</title>
    {% if message %}
    <script>
     var message = "{{ message }}";
     alert(message);
   </script>
   {% endif %}
   
    <link rel="stylesheet" href="../static/css/style_for_modified.css">
  </head>
  <body>
    <main class="table" style="overflow: overlay;">
      <section class="table_header">
        <br>
    <h1 style="margin-left: 19px;">User Table</h1>
</section>
    <form action="/delete_update_insert" method="POST" onsubmit="return validateForm();">
<section class="table__body">
      <table>
        <tr>
          <th>Select</th>
          <th>Column Name</th>
          <th>Data Type</th>
          <th>Value</th>
        </tr>
        <tr>
          <td><input type="checkbox" name="column[]" value="login_id"></td>
          <td>login_id</td>
          <td><p class="status delivered">Int</p></td>
          <td><input type="text" name="login_id"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column[]" value="username"></td>
          <td>username</td>
          <td><p class="status shipped">varchar</p></td>
          <td><input type="text" name="username"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column[]" value="password"></td>
          <td>password</td>
          <td><p class="status shipped">varchar</p></td>
          <td><input type="password" name="password"></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="column[]" value="role"></td>
          <td>role</td>
          <td><p class="status shipped">varchar</p></td>
          <td><input type="text" name="role"></td>
        </tr>
      </table>
      <input type="submit" value="Submit" class="mainpagesubmit">
      <script>
        function validateForm() {
          var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
          if (checkboxes.length === 0) {
            alert("Please select at least one option.");
            return false;
          }
          return true;
        }
      </script>
      
    </form>
    <br><br>
  </section>
  <br>
  <br>
  <br>
    <form action="/go_to_page" method="POST" class = "form_move_up">
    <select name="page" class="my_dropdown">
        <option value="table_choose.html">Choose different table</option>
        <option value="main_page.html">Choose different operation</option>
      </select>
    <input type="submit" value="Go to page" class="gotopage">
    </form>
  </main>
  </body>
</html>
